{% extends 'expenses/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="card p-4">

        <h2>Add Expense</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label>Title</label>
                <input type="text" name="title" class="form-control">
            </div>

            <div class="mb-3">
                <label>Amount</label>
                <input type="number" name="amount" class="form-control">
            </div>

            <div class="mb-3">
                <label>Category</label>
                <input type="text" name="category" class="form-control">
            </div>

            <div class="mb-3">
                <label>Date</label>
                <input type="date" name="date" class="form-control">
            </div>

            <div class="mb-3">
                <label>Note</label>
                <textarea name="note" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                Add Expense
            </button>

        </form>

    </div>
</div>

{% endblock %}